In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import os
import csv

# for progress bars
from tqdm import tqdm, tqdm_pandas
tqdm_pandas(tqdm())

# API Key
from config import api_key

#ZillowWrapper
from pyzillow.pyzillow import ZillowWrapper, GetDeepSearchResults

0it [00:00, ?it/s]
TqdmDeprecationWarning: Please use `tqdm.pandas(...)` instead of `tqdm_pandas(tqdm(...))`.

In [12]:
#Read csv
general_df = pd.read_csv('final_zillow_info.csv').dropna(subset=['Zillow ID'])
general_df.head()

,Address,Zip,Zillow ID,Tax,Tax_Year,Home Type,Home Size,Bathrooms,Bedrooms,Last Sold Date,Last Sold Price,Zestimate Amount,Zestimate Date,Zestimate Value Change
0,5 14th,60605,6.020423e+07,248760.0,2017.0,Condominium,10593.0,2.0,2.0,05/27/2004,295000.0,395223.0,04/03/2019,48923.0
1,8 9th,60605,1.190884e+08,40600.0,2017.0,Miscellaneous,4312440.0,NaN,0.0,03/09/2018,300000.0,NaN,01/01/1970,NaN
5,730 Couch,60605,2.093317e+09,NaN,NaN,Apartment,NaN,1.0,1.0,02/01/2017,2415.0,NaN,01/01/1970,NaN
6,123 Desplaines,60605,2.095671e+09,NaN,NaN,Apartment,NaN,1.0,1.0,11/10/2016,2500.0,NaN,01/01/1970,NaN
8,23 E 13th St 606,60605,7.047498e+07,513000.0,2017.0,Condominium,78844.0,2.0,2.0,07/20/2012,525000.0,657483.0,04/03/2019,-597.0

In [13]:
general_df = pd.read_csv('final_zillow_info.csv').dropna(subset=['Zillow ID','Zestimate Amount'])
general_df.head()

,Address,Zip,Zillow ID,Tax,Tax_Year,Home Type,Home Size,Bathrooms,Bedrooms,Last Sold Date,Last Sold Price,Zestimate Amount,Zestimate Date,Zestimate Value Change
0,5 14th,60605,60204228.0,248760.0,2017.0,Condominium,10593.0,2.0,2.0,05/27/2004,295000.0,395223.0,04/03/2019,48923.0
8,23 E 13th St 606,60605,70474983.0,513000.0,2017.0,Condominium,78844.0,2.0,2.0,07/20/2012,525000.0,657483.0,04/03/2019,-597.0
9,125 E 13th St,60605,70474815.0,305250.0,2017.0,Condominium,23332.0,2.0,2.0,04/19/2007,390000.0,422299.0,04/03/2019,-3468.0
10,125 E 13th St 1001,60605,70474749.0,324890.0,2017.0,Condominium,23332.0,NaN,NaN,04/21/2004,381500.0,458033.0,04/03/2019,15458.0
11,125 E 13th St 1002,60605,70474919.0,28050.0,2017.0,Condominium,23332.0,2.0,2.0,06/12/2017,433000.0,36498.0,04/03/2019,96.0

In [ ]:
#Scatter Plot: Zestimate Value Change by Zip and Home Type

In [ ]:
#Zestimate Amount / HomeSize by Zip and Home Type

In [ ]:
#Amount Change by Year by Zip and Home Type