In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import os
import csv

# for progress bars
from tqdm import tqdm, tqdm_pandas
tqdm_pandas(tqdm())

# API Key
from config import api_key

#ZillowWrapper
from pyzillow.pyzillow import ZillowWrapper, GetDeepSearchResults

0it [00:00, ?it/s]
TqdmDeprecationWarning: Please use `tqdm.pandas(...)` instead of `tqdm_pandas(tqdm(...))`.

In [2]:
#Read csv
address_zip_df = pd.read_csv('ChicagoAddress.csv').dropna()
address_zip_df.head()

          Address    Zip
0         5 14th   60605
1          8 9th   60605
2     234 Ashland  60605
3   1733 Congress  60605
4  1753 Congress   60605

In [3]:
test_data = address_zip_df

In [4]:
test_data.shape

(21241, 2)

In [5]:
address_zip_df.shape

(21241, 2)

In [6]:
address = '233 E 13th St 2207'
zipcode = '60605'

zillow_data = ZillowWrapper(api_key)
response = zillow_data.get_deep_search_results(address, zipcode)
result = GetDeepSearchResults(response)
print(result.zestimate_valuation_range_high) #no
print(result.zestimate_valuationRange_low)#no
print(result.zestimate_value_change) #yes last 30 days
print(result.home_detail_link)#no
print(result.property_size) #yes
print(result.home_size) #no

563557
499151
4840
https://www.zillow.com/homedetails/233-E-13th-St-APT-2207-Chicago-IL-60605/70475126_zpid/
78844
1386

In [7]:
bad_address = "234 Ashland"
bad_zip = "60605"

In [8]:
good_address = "125 E 13th St 1001"
good_zip = "60605"

In [9]:
zillow_data = ZillowWrapper(api_key)

def get_zillow_info(address,zipcode):
    try:
        response = zillow_data.get_deep_search_results(address, zipcode)
        result = GetDeepSearchResults(response)
        
        # get zillow_id value
        try:
            zillow_id = result.zillow_id
        except AttributeError: 
            zillow_id = None
        
        # get tax value
        try:
            tax = result.tax_value
        except AttributeError: 
            tax = None
            
        # get latitude
        try:
            tax_year = result.tax_year
        except AttributeError:
            tax_year = None
            
        # 4home type 
        try:    
            home_type = result.home_type
        except AttributeError:
            home_type = None
            
        # 5 property size
        try:    
            property_size = result.property_size
        except AttributeError:
            property_size = None
        
        # 6 bathrooms
        try:    
            bathrooms = result.bathrooms
        except AttributeError:
            bathrooms = None
        
        # 7 bedrooms
        try:    
            bedrooms = result.bedrooms
        except AttributeError:
            bedrooms = None
            
        # 8last sold date
        try:    
            last_sold_date = result.last_sold_date
        except AttributeError:
            last_sold_date = None
        
        # 9last sold price
        try:    
            last_sold_price = result.last_sold_price
        except AttributeError:
            last_sold_price = None
            
       # 10zestimate amount
        try:    
            zestimate_amount = result.zestimate_amount
        except AttributeError:
            zestimate_amount = None
        # 11zestimate last updated
        try:    
            zestimate_last_updated = result.zestimate_last_updated
        except AttributeError:
            home_type = None
        # 12zestimate value change
        try:    
            zestimate_value_change = result.zestimate_value_change
        except AttributeError:
            zestimate_value_change = None
        
        final = [zillow_id,tax,tax_year,home_type,
                 property_size,bathrooms,bedrooms,
                 last_sold_date,last_sold_price,zestimate_amount,
                 zestimate_last_updated,zestimate_value_change]
        
    except:
        final = []
    return final

In [10]:
get_zillow_info(bad_address,bad_zip)

[]

In [11]:
address_zip_df["zillow_info"] = address_zip_df.progress_apply(lambda row: get_zillow_info(row["Address"],row["Zip"]),axis=1)

21241it [1:16:22,  7.34it/s]

In [12]:
address_zip_df.head()#["zillow_info"][10][10]

          Address    Zip                                        zillow_info
0         5 14th   60605  [60204228, 248760.0, 2017, Condominium, 10593,...
1          8 9th   60605  [119088436, 40600.0, 2017, Miscellaneous, 4312...
2     234 Ashland  60605                                                 []
3   1733 Congress  60605                                                 []
4  1753 Congress   60605                                                 []

In [13]:
# turn the zillow_info column which is a list into dataframe
zillow_info_df = pd.DataFrame(address_zip_df.zillow_info.values.tolist())

In [14]:
zillow_info_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,60204228,248760.0,2017,Condominium,10593,2.0,2,05/27/2004,295000,395223,04/03/2019,48923
1,119088436,40600.0,2017,Miscellaneous,4312440,None,0,03/09/2018,300000,None,01/01/1970,None
2,None,None,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None,None,None

In [15]:
# CHANGE COLUMN NAME
# zillow_info_df = zillow_info_df.rename(columns={0:"Zillow ID", 1:"Tax"})
zillow_info_df = zillow_info_df.rename(columns={0:"Zillow ID",1:"Tax",2:"Tax_Year",3:"Home Type",4:"Home Size",5:"Bathrooms",6:"Bedrooms",7:"Last Sold Date",8:"Last Sold Price",9: "Zestimate Amount",10:"Zestimate Date",11:"Zestimate Value Change"})
#df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
zillow_info_df

,Zillow ID,Tax,Tax_Year,Home Type,Home Size,Bathrooms,Bedrooms,Last Sold Date,Last Sold Price,Zestimate Amount,Zestimate Date,Zestimate Value Change
0,60204228,248760.0,2017,Condominium,10593,2.0,2,05/27/2004,295000,395223,04/03/2019,48923
1,119088436,40600.0,2017,Miscellaneous,4312440,None,0,03/09/2018,300000,None,01/01/1970,None
2,None,None,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None,None,None
5,2093316676,None,None,Apartment,None,1.0,1,02/01/2017,2415,None,01/01/1970,None
6,2095670559,None,None,Apartment,None,1.0,1,11/10/2016,2500,None,01/01/1970,None
7,None,None,None,None,None,None,None,None,None,None,None,None
8,70474983,513000.0,2017,Condominium,78844,2.0,2,07/20/2012,525000,657483,04/03/2019,-597
9,70474811,490400.0,2017,Condominium,23332,2.0,2,04/17/2013,565000,645588,04/03/2019,-24410
10,70474749,324890.0,2017,Condominium,23332,None,None,04/21/2004,381500,458033,04/03/2019,15458
11,70474919,28050.0,2017,Condominium,23332,2.0,2,06/12/2017,433000,36498,04/03/2019,96
12,70474751,321140.0,2017,Condominium,23332,2.0,2,06/12/2017,433000,410062,04/03/2019,14320
13,70474897,28050.0,2017,Condominium,23332,2.0,2,05/03/2010,383000,36498,04/03/2019,96
14,70474897,28050.0,2017,Condominium,23332,2.0,2,05/03/2010,383000,36498,04/03/2019,96
15,70474753,388460.0,2017,Condominium,23332,None,None,09/17/2004,461500,571614,04/03/2019,37941
16,70474754,251950.0,2017,Condominium,23333,2.0,2,06/19/2012,310000,409958,04/03/2019,15692
17,70474753,388460.0,2017,Condominium,23332,None,None,09/17/2004,461500,571614,04/03/2019,37941
18,70474756,313680.0,2017,Condominium,23332,2.0,2,11/19/2018,400000,402970,04/03/2019,8422
19,2090392224,None,None,Condominium,None,2.0,2,05/31/2018,435000,432480,04/03/2019,4318
20,70474758,308080.0,2017,Condominium,23332,None,None,04/05/2004,304000,423295,04/03/2019,-4326
21,70474758,308080.0,2017,Condominium,23332,None,None,04/05/2004,304000,423295,04/03/2019,-4326
22,70474759,321140.0,2017,Condominium,23332,2.0,2,07/21/2016,437000,444674,04/03/2019,24916
23,70474760,177160.0,2017,Condominium,23332,None,None,10/13/2004,219500,259938,04/03/2019,7432
24,70474761,179010.0,2017,Condominium,23332,1.0,1,08/29/2013,179000,258164,04/03/2019,4335
25,70474762,328640.0,2017,Condominium,23332,2.0,2,09/22/2015,426000,449470,04/03/2019,21653
26,70474763,323040.0,2017,Condominium,23332,2.0,2,09/07/2016,420000,442861,04/03/2019,23802
27,70474863,28050.0,2017,Condominium,23332,2.0,2,01/19/2010,261000,36498,04/03/2019,96
28,70474765,324890.0,2017,Condominium,23332,2.0,2,12/29/2013,335000,437657,04/03/2019,7181
29,70474766,326780.0,2017,Condominium,23332,2.0,2,10/13/2011,320000,442882,04/03/2019,24267
...,...,...,...,...,...,...,...,...,...,...,...,...
21211,2141803463,None,None,MultiFamily5Plus,None,2.0,2,None,None,None,01/01/1970,None
21212,2085761335,None,None,MultiFamily2To4,None,1.0,1,None,None,426727,04/03/2019,None
21213,2088466619,None,None,MultiFamily2To4,None,2.0,2,None,None,718010,04/03/2019,-409633
21214,None,None,None,None,None,None,None,None,None,None,None,None
21215,2088466619,None,None,MultiFamily2To4,None,2.0,2,None,None,718010,04/03/2019,-409633
21216,2088304325,None,None,Unknown,None,2.0,2,None,None,516114,04/03/2019,-76942
21217,2086084782,None,None,Condominium,None,1.0,1,None,None,396430,04/03/2019,-23179
21218,2090189974,None,None,Condominium,None,1.0,1,05/30/2018,263000,282269,04/03/2019,-16639
21219,159464410,111650.0,2017,Condominium,None,None,0,09/19/2016,185000,219687,04/03/2019,2360
21220,None,None,None,None,None,None,None,None,None,None,None,None
21221,2086084782,None,None,Condominium,None,1.0,1,None,None,396430,04/03/2019,-23179
21222,159467319,269320.0,2017,Condominium,None,None,0,None,None,324197,04/03/2019,-11538
21223,2086039209,None,None,Condominium,None,2.0,2,None,None,403956,04/03/2019,-6638
21224,2085190075,None,None,Condominium,None,1.0,2,None,None,303632,04/03/2019,None
21225,159464410,111650.0,2017,Condominium,None,None,0,09/19/2016,185000,219687,04/03/2019,2360
21226,159467319,269320.0,2017,Condominium,None,None,0,None,None,324197,04/03/2019,-11538
21227,2133142681,None,None,Condominium,None,2.0,2,07/19/2010,260000,394877,04/03/2019,-57241
21228,2087092917,None,None,Condominium,None,2.0,3,01/09/2019,420000,594876,04/03/2019,-72621
21229,2137743429,None,None,Condominium,None,1.0,2,09/27/2018,300000,303859,04/03/2019,-5459
21230,159464404,269320.0,2017,Condominium,None,None,None,None,None,324260,04/03/2019,-11483
21231,None,None,None,None,None,None,None,None,None,None,None,None
21232,2108594429,None,None,Apartment,None,1.0,1,None,None,None,01/01/1970,None
21233,119087965,None,None,Condominium,None,None,None,02/26/2019,16000,47238,04/03/2019,None
21234,None,None,None,None,None,None,None,None,None,None,None,None
21235,4136978,83060.0,2017,SingleFamily,3530,2.0,3,03/18/2011,35000,243151,04/03/2019,137567
21236,158822778,6.95E7,2017,SingleFamily,43169,None,0,02/16/2001,37601000,None,01/01/1970,None
21237,None,None,None,None,None,None,None,None,None,None,None,None
21238,None,None,None,None,None,None,None,None,None,None,None,None
21239,2096758160,None,None,Unknown,None,None,None,None,None,539859,04/03/2019,28562
21240,159466921,111650.0,2017,Condominium,None,None,0,None,None,219464,04/03/2019,2154

In [16]:
# combine zillow info dataframe with address info, to make sure they line up
final_zillow = pd.concat([address_zip_df,
                          zillow_info_df],axis=1)

In [17]:
# check results
final_zillow.head()

,Address,Zip,zillow_info,Zillow ID,Tax,Tax_Year,Home Type,Home Size,Bathrooms,Bedrooms,Last Sold Date,Last Sold Price,Zestimate Amount,Zestimate Date,Zestimate Value Change
0,5 14th,60605,"[60204228, 248760.0, 2017, Condominium, 10593,...",60204228,248760.0,2017,Condominium,10593,2.0,2,05/27/2004,295000,395223,04/03/2019,48923
1,8 9th,60605,"[119088436, 40600.0, 2017, Miscellaneous, 4312...",119088436,40600.0,2017,Miscellaneous,4312440,None,0,03/09/2018,300000,None,01/01/1970,None
2,234 Ashland,60605,[],None,None,None,None,None,None,None,None,None,None,None,None
3,1733 Congress,60605,[],None,None,None,None,None,None,None,None,None,None,None,None
4,1753 Congress,60605,[],None,None,None,None,None,None,None,None,None,None,None,None

In [18]:
# check file path, just like `pwd` in terminal 
import os
os.getcwd()

'/Users/miiinaa223/Desktop/Python/NW-Bootcamp-Projects'

In [19]:
# drop zillow_info column AND save file
final_zillow.drop(columns=["zillow_info"]).to_csv("final_zillow_info.csv",index=None)