In [65]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json

# API Key
#from config import api_key

#ZillowWrapper
from pyzillow.pyzillow import ZillowWrapper, GetDeepSearchResults

In [67]:
#Read csv

# address_zip_df = pd.read_csv('ChicagoAddress.csv').dropna()
# address_zip_df.head()


file = os.path.join("ChicagoAddress.csv")

property_address = []
property_zipcode = []

with open(file) as csvfile:
    csv_data = csv.reader(csvfile, delimiter=',')
    header_out = next(csv_data, None)

    for row in csv_data:
        address = row[0]

          Address    Zip
0         5 14th   60605
1          8 9th   60605
2     234 Ashland  60605
3   1733 Congress  60605
4  1753 Congress   60605

In [105]:
address = []
zipcode = []
property_latitude = []
property_id = []
property_type = []
property_size = []
property_tax = []
property_tax_year = []
property_last_sold = []
property_sold_price = []

address = '125 E 13th St 1001'
zipcode = '60605'

zillow_data = ZillowWrapper(api_key)
response = zillow_data.get_deep_search_results(address, zipcode)
result = GetDeepSearchResults(response)

#Pushes values up (append) to its empty list
property_latitude.append(result.latitude)
property_id.append(result.zillow_id)
property_type.append(result.home_type)
property_size.append(result.home_size)
property_tax.append(float(result.tax_value)) # converts string into float
property_tax_year.append(result.tax_year)
property_last_sold.append(result.last_sold_date)
property_sold_price.append(float(result.last_sold_price))# converts string into float

In [113]:
properties_df = pd.DataFrame({"Address": address,
                           "Zipcode": zipcode,
                           "Latitude": property_latitude,
                           "Property ID": property_id,
                           "Type": property_type,
                           "Size": property_size,
                           "Tax": property_tax,
                           "Tax Year": property_tax_year,
                           "Last Sold": property_last_sold,
                           "Sale Price": property_sold_price})

#Indexes property id
properties_df.set_index("Property ID", inplace = True) 
    
#Formats float number (324890) into monetary value (324,890)                             
properties_df["Tax"] = properties_df["Tax"].map("${:,.0f}".format)
properties_df["Sale Price"] = properties_df["Sale Price"].map("${:,.0f}".format)
properties_df

,Address,Zipcode,Latitude,Type,Size,Tax,Tax Year,Last Sold,Sale Price
Property ID,,,,,,,,,
70474749,125 E 13th St 1001,60605,41.865548,Condominium,None,"$324,890",2017,04/21/2004,"$381,500"