In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import os
import csv

# API Key
from config import api_key

#ZillowWrapper
from pyzillow.pyzillow import ZillowWrapper, GetDeepSearchResults

In [2]:
#Read csv
address_zip_df = pd.read_csv('ChicagoAddress.csv').dropna()
address_zip_df.head()

          Address    Zip
0         5 14th   60605
1          8 9th   60605
2     234 Ashland  60605
3   1733 Congress  60605
4  1753 Congress   60605

In [46]:
test_data = address_zip_df.head(20)

In [47]:
test_data

                Address    Zip
0               5 14th   60605
1                8 9th   60605
2           234 Ashland  60605
3         1733 Congress  60605
4        1753 Congress   60605
5             730 Couch  60605
6        123 Desplaines  60605
7          24 E 11th St  60605
8     23 E 13th St 606   60605
9        125 E 13th St   60605
10  125 E 13th St 1001   60605
11  125 E 13th St 1002   60605
12  125 E 13th St 1003   60605
13  125 E 13th St 1004   60605
14  125 E 13th St 1005   60605
15  125 E 13th St 1006   60605
16  125 E 13th St 1007   60605
17  125 E 13th St 1008   60605
18  125 E 13th St 1009   60605
19  125 E 13th St 1010   60605

In [42]:
test_data.shape

(20, 2)

In [43]:
address_zip_df.shape

(18293, 2)

In [3]:
address = '4244 N Pulaski'
zipcode = '60641'

zillow_data = ZillowWrapper(api_key)
response = zillow_data.get_deep_search_results(address, zipcode)
result = GetDeepSearchResults(response)
result.home_size

In [4]:
bad_address = "234 Ashland"
bad_zip = "60605"

In [18]:
good_address = "125 E 13th St 1001"
good_zip = "60605"

In [37]:
zillow_data = ZillowWrapper(api_key)

def get_zillow_info(address,zipcode):
    try:
        response = zillow_data.get_deep_search_results(address, zipcode)
        result = GetDeepSearchResults(response)
        # get tax value
        try:
            tax = result.tax_value
        except AttributeError: 
            tax = None
        # get latitude
        try:
            lat = result.latitude
        except AttributeError:
            lat = None
        # home value
        try:    
            hv = result.home_value
        except AttributeError:
            hv = None
        
        final = [tax,lat,hv]
    except:
        final = None
    return final

In [38]:
get_zillow_info(good_address,good_zip)

['324890.0', '41.865548', None]

In [39]:
get_zillow_info(bad_address,bad_zip)

In [ ]:
#     #Pushes values up (append) to its empty list
#             property_address.append(address)
#             property_zipcode.append(zipcode)
#             property_latitude.append(result.latitude)
# property_id.append(result.zillow_id)
#             property_type.append(result.home_type)
#             property_size.append(result.home_size)
#             property_tax.append(float(result.tax_value)) # converts string into float
#             property_tax_year.append(result.tax_year)
#             property_last_sold.append(result.last_sold_date)
#             property_sold_price.append(float(result.last_sold_price))# converts string into float

#property_id

result

In [ ]:
properties_df = pd.DataFrame({"Address": address,
                           "Zipcode": zipcode,
                           "Latitude": property_latitude,
                           "Property ID": property_id,
                           "Type": property_type,
                           "Size": property_size,
                           "Tax": property_tax,
                           "Tax Year": property_tax_year,
                           "Last Sold": property_last_sold,
                           "Sale Price": property_sold_price})

#Indexes property id
properties_df.set_index("Property ID", inplace = True) 
    
#Formats float number (324890) into monetary value (324,890)                             
properties_df["Tax"] = properties_df["Tax"].map("${:,.0f}".format)
properties_df["Sale Price"] = properties_df["Sale Price"].map("${:,.0f}".format)
properties_df